@import "~leaflet/dist/leaflet.css";

.Layout {
}

.Map {
  height: 50vh;
  border: 2px solid red;
}

.Editor {
  display: flex;
  height: 10vh;
  border: 2px solid transparent;
  &.Editable {
    border-color: blue;
  }
  pre, textarea {
    font-size: 12px;
    margin: 0;
    padding: 4px;
  }
  textarea {
    border: 0;
    flex: 1;
  }
}

.Error {
  color: red;
}
