@import "~leaflet/dist/leaflet.css";

.Layout {
}

.Map {
  height: 50vh;
  border: 2px solid red;
}

.Editor {
  display: flex;
  height: 10vh;
  border: 2px solid blue;
  textarea {
    border: 0;
    flex: 1;
  }
}

.Error {
  color: red;
}
